@{
    ViewData["Title"] = "Home Page";
}

    <div class="right_col" role="main">
        <div class="">
            <div class="align-items-center text-center ">
                <img  style="min-width:150px; width:7%;margin-top:15%" src="~/images/MainLogo.png">
                <h1 class="font-italic"><strong>Talep Yönetim Portalı</strong></h1>
            </div>
        </div>
    </div>