@model IEnumerable<SiparisTakip.Models.Tables.Department>
@{
    ViewData["Title"] = "Yeni Talep";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Satın Alma Talebi Oluştur</h3>
            </div>

            <div class="title_right">
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Talep Formu </h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        @using (Html.BeginForm("CreateRequest", "NewRequest", FormMethod.Post,
new { enctype = "multipart/form-data" }))
                        {

                            <!-- Smart Wizard -->
                            <div id="wizard" class="form_wizard wizard_horizontal">
                                <ul class="wizard_steps">
                                    <li>
                                        <a href="#step-1">
                                            <span class="step_no">1</span>
                                            <span class="step_descr">
                                                Adım 1<br />
                                                <small>Personel Bilgileri</small>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-2">
                                            <span class="step_no">2</span>
                                            <span class="step_descr">
                                                Adım 2<br />
                                                <small>Proje Bilgileri</small>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-3">
                                            <span class="step_no">3</span>
                                            <span class="step_descr">
                                                Adım 3<br />
                                                <small>Ürün Bilgileri</small>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-4">
                                            <span class="step_no">4</span>
                                            <span class="step_descr">
                                                Adım 4<br />
                                                <small>Tedarik Firma Bilgileri</small>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                                <div id="step-1">

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align">Talep Eden Departman</label>
                                        <div class="col-md-6 col-sm-6">
                                            <select class="form-control" name="requestDepartment">
                                                @{
                                                    foreach (var item in Model)
                                                    {
                                                        <option value="@item.depName">@item.depName</option>
                                                    }

                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="requestSteff">
                                            Talep Eden Personel<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="requestSteffe" name="requestSteff" required="required" class="form-control ">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="requestProject">
                                            Proje<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="requestProject" name="requestProject" required="required" class="form-control ">
                                        </div>
                                    </div>
                                </div>
                                <div id="step-2">

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="requestExpensePlace">
                                            Gider Yeri<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="requestExpensePlace" name="requestExpensePlace" required="required" class="form-control ">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="requestProductFeatures">
                                            Ürün Özellikleri <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="requestProductFeatures" name="requestProductFeatures" required="required" class="form-control ">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="requestDescription">
                                            Açıklama <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="requestDescription" name="requestDescription" required="required" class="form-control ">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="requestQuantity">
                                            Miktar <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="number" id="requestQuantity" name="requestQuantity" required="required" class="form-control ">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align">Cinsi</label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <div id="requestSpecies" class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="requestSpecies" value="Masraf" class="join-btn"> &nbsp; Masraf &nbsp;
                                                </label>
                                                <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-secondary">
                                                    <input type="radio" name="requestSpecies" value="Stok" class="join-btn"> Stok
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-3">

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                            Ürün Resmi <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="file" name="ImageFile" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                            PDF (.pdf)
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="file" name="PDFFile" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                            Excel (.xls)
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="file" name="ExcelFile" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="requestEstimatedPrice">
                                            Tahmini Fiyat <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input step="0.01" type="number" id="requestEstimatedPrice" name="requestEstimatedPrice" required="required" class="form-control ">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="date">
                                            Teslim Tarihi <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input id="birthday" name="date" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                                            <script>
                                                function timeFunctionLong(input) {
                                                    setTimeout(function () {
                                                        input.type = 'text';
                                                    }, 60000);
                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-4">

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="requestSupplyCompany1">
                                            Tedarik Firma 1 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="requestSupplyCompany1" name="requestSupplyCompany1" required="required" class="form-control ">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="requestSupplyCompany2">
                                            Tedarik Firma 2 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="requestSupplyCompany2" name="requestSupplyCompany2" required="required" class="form-control ">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="requestSupplyCompany3">
                                            Tedarik Firma 3 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="requestSupplyCompany3" name="requestSupplyCompany3" required="required" class="form-control ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>